<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.tungsten.setupwraith.pairing.lineageoverlay"
    android:versionCode="1"
    android:versionName="1.0">
    <application android:hasCode="false" />
    <overlay
      android:targetPackage="com.google.android.tungsten.setupwraith"
      android:isStatic="true"
      android:priority="0"
      android:requiredSystemPropertyName="atv.setup.bt_remote_pairing"
      android:requiredSystemPropertyValue="false" />

</manifest>
